#prihlaska {
  background: url("../assets/img/bg_app_info.webp") no-repeat bottom;
  background-size: cover;

  @media screen and (max-width: 1024px) {
    background: url("../assets/img/blu_bg.png") repeat-y center;
  }

  .info-text {
    background-color: rgba(48, 55, 79, 0.50);
  }
}